{{!--
SPDX-FileCopyrightText: Copyright 2026 OP Pohjola (https://op.fi)

SPDX-License-Identifier: MIT
--}}

<h2>{{t "error.title"}}</h2>
<h3>{{t "error.title"}}</h3>
<pre>{{error}}</pre>
{{#if errorDescription}}
    <h3>{{t "error.description"}}</h3>
    <pre>{{errorDescription}}</pre>
{{/if}}
<p><a href="/">&laquo; {{t "error.retry"}}</a></p>
